* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 32px;
}

.container {
    width: 800px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start; 
    border: 1px solid black;   
}

.square {
    border: 1px solid black;
    flex: 0 0 auto;
}